include constants

head
  title #{subject}
  style.
   #{style}
body
  #content_body
    #header
      block header
    #content
      block content
    #footer
      block footer
    #legals
      #app
        block legals
      #rhizome
        p
          | #{app.name} was built using ButtressJS which was created by Lighten. Copyright 2017.
